---
import Skill from "../Skill.astro";

const LanguagesLinks = [
    {
        name: "Typescript",
        imagePath: "/typescript.svg"
    },
    {
        name: "Dart",
        imagePath: "/dart.svg"
    },
    {
        name: "Java",
        imagePath: "/java-4.svg"
    },
] 

const FrontendLinks = [
    {
        name: "Flutter",
        imagePath: "/flutter.svg"
    },
    {
        name: "Angular",
        imagePath: "/angular.png"
    },
    {
        name: "Next",
        imagePath: "/next-js.svg"
    },
    {
        name: "Astro",
        imagePath: "/astro.svg"
    },
]

const BackendLinks = [
    {
        name: "Springboot",
        imagePath: "/spring-3.svg"
    },
    {
        name: "Express",
        imagePath: "/express-109.svg"
    },
]

const DataBaseLinks = [
{
        name: "Postgresql",
        imagePath: "/postgresql.svg"
    },
    {
        name: "MongoDB",
        imagePath: "/mongodb.svg"
    },
]

const OthersLinks = [
    {
        name: "Docker",
        imagePath: "/docker-3.svg"
    },
    {
        name: "Firebase",
        imagePath: "/firebase.svg"
    },
    {
        name: "Supabase",
        imagePath: "/supabase.png"
    },
    {
        name: "Figma",
        imagePath: "/figma.svg"
    },
    {
        name: "Tailwind css",
        imagePath: "/tailwind.svg"
    },

]

const DevOpsLinks = [
    {
        name: "Docker",
        imagePath: "/docker-3.svg"
    },
]
---

<section class="pt-40 delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0" id="Skills">
    <div class="flex flex-row justify-center items-center space-x-4">
        <hr class="line-color w-52 sm:w-96">
        <h1 class="text-[#CDC6F6] font-bold text-2xl"><span class="text-cyan-400">02.</span> Skills</h1>
    </div>
    <div class="pt-20 flex flex-wrap items-baseline justify-center gap-20 lg:gap-32 px-20 ">
        <Skill title="Languages" links={LanguagesLinks}/>
        <Skill title="Frontend" links={FrontendLinks}/>
        <Skill title="Backend" links={BackendLinks}/>
        <Skill title="Database" links={DataBaseLinks}/>
        <!-- <Skill title="DevOps" links={DevOpsLinks}/> -->
        <Skill title="Others" links={OthersLinks}/>
    </div>
</section>